<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"] - Makta</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Variables CSS Files. Uncomment your preferred color scheme -->
    <link href="~/assets/css/variables.css" rel="stylesheet">
    <!-- <link href="~/assets/css/variables-blue.css" rel="stylesheet"> -->
    <!-- <link href="~/assets/css/variables-green.css" rel="stylesheet"> -->
    <!-- <link href="~/assets/css/variables-purple.css" rel="stylesheet"> -->
    <!-- Template Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">
    <!-- Blog page  CSS File -->
    <link href="~/assets/css/BlogStyleSheet.css" rel="stylesheet">


</head>
<body class="body">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" data-scrollto-offset="0">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a href="~/home/index" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="~/assets/img/logo.png" alt="">
                <h1>Makta<span>.</span></h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="~/home/Index">Home</a></li>
                    <li><a class="nav-link scrollto" href="https://makta.net" target="_blank">Explorer</a></li>
                    <li><a class="nav-link scrollto" href="https://makta.org/whitepaper_makta.pdf">Technology</a></li>
                    <li><a class="nav-link scrollto" href="https://github.com/makta-org" target="_blank">Source Code</a></li>
                    <li><a class="nav-link scrollto" href="https://talk.makta.net/" target="_blank">Community</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle d-none"></i>
            </nav><!-- .navbar -->

            <a class="btn-EN scrollto" href="index.html#about">EN</a>

        </div>
    </header><!-- End Header -->
    @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Makta</h3>

                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Technology</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://makta.org/whitepaper_makta.pdf">White Paper</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://makta.net" target="_blank">Explorer</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Community</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://talk.makta.net/" target="_blank">Forum</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="mailto:community@makta.org"><strong>Email:</strong> community@makta.org</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Makta Newsletter</h4>
                        <p>Be the first one who gets notified about events, releases, and more!</p>
                        <form action="" method="post">
                            <input type="email" name="email" id="email"><input type="button" onclick="Subscribe();return false;" value="Subscribe">
                            <label name="lblresult" id="lblresult" style="color:black"></label>

                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-legal text-center">
            <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

                <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <div class="copyright">
                        &copy; <strong><span>Makta</span></strong>. All Rights Reserved for Makta community.
                    </div>

                </div>

                <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                    <a target="_blank" href="https://twitter.com/makta_org" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/makta/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    <a target="_blank" href="https://t.me/+pCbsfL72sxowNjgx" class="telegram"><i class="bi bi-telegram"></i></a>
                    <a target="_blank" href="instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a target="_blank" href="discord" class="discord"><i class="bi bi-discord"></i></a>
                    <a target="_blank" href="https://github.com/makta-org" class="github"><i class="bi bi-github"></i></a>

                </div>

            </div>
        </div>

    </footer><!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <script>
        function Subscribe() {
            var email = $('#email').val();
            if (email === "") {
                $("#lblresult").val("please enter your email.");
                return;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("Subscribe","home")",
                data: { email: email },
                dataType: "text",
                success: function (msg) {
                    var res = msg.replace(/"|'/g, '');
                    $('#lblresult').html(res);
                },
                error: function (req, status, error) {
                    $('#lblresult').html(error);
                }
            });
        }
    </script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
