<link href="~/assets/css/joinus.css" rel="stylesheet" />

<main id="main">
    @*<section id="joinus" class="joinus">
        <div class="content">
            <div>
                <h4>Thank you for your interest in joining Makta community.</h4>
                <p> in Makta, we need software developers like you to contribute to the free speech platform.</p>
                <p> software developers, designers, content builders, social networkers, digital marketers, project managers, etc. everyone is welcome!</p>
                <p>
                    Please fill the form below to get your access granted by a community member.
                </p>
                <p>* if you know someone from community, please mention their name to connect you directly to them.</p>
            </div>
        </div>

        <div class="form">
            <form action="" method="post">
                <div class="row">
                    <div class="col-4">
                        Name:
                    </div>
                    <div class="col-8">
                        <input type="text" id="joinusname" name="joinusname" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        E-mail:
                    </div>
                    <div class="col-8">
                        <input type="email" name="joinusemail" id="joinusemail">
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        Phone:
                    </div>
                    <div class="col-8">
                        <input type="text" name="joinusphone" id="joinusphone">
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        Country:
                    </div>
                    <div class="col-8">
                        <select name="joinuscountry" id="joinuscountry">
                            <option value="Canada">Canada</option>
                            <option value="UK">UK</option>
                            <option value="USA">USA</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        Role:
                    </div>
                    <div class="col-8">
                        <select name="joinusrole" id="joinusrole">
                            <option value="softwaredeveloper">Software Developer</option>
                            <option value="Designer">Designer</option>
                            <option value="UI/UX">UI/UX</option>
                            <option value="SoftwareQA&Tester">Software QA & Tester</option>
                            <option value="ProjectManager">Project Manager</option>
                            <option value="ScrumMaster">Scrum Master</option>
                            <option value="DigitalMarketing">Digital Marketing</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="checkbox" id="joinusterms" name="joinusterms" />
                        <label for="joinusterms">I accept Makta community's terms and conditions.</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="button" onclick="SubmitJoinUsForm();return false;" value="Submit">
                        <label name="lbljoinusresult" id="lbljoinusresult" style="color:white"></label>
                    </div>
                </div>

            </form>

        </div>

    </section>*@

<section id="joinus" class="joinus">
      <div class="container">
          <div class="boxing">
        <div class="section-header">
          <h2>Join Us</h2>
          <p>Thank you for your interest in joining Makta community.</p>
        </div>


        <div class="row gy-5 gx-lg-5">

          <div class="col-lg-5">

            <div class="info">
              
              <p>In Makta, we need software developers like you to contribute to the free speech platform.</p>
              <p>Software developers, designers, content builders, social networkers, digital marketers, project managers, etc. everyone is welcome!</p>
              <p>Please fill the form below to get your access granted by a community member.</p>

              <div class="info-item">
                
                <div>
                  <p>* If you know someone from community, please mention their name to connect you directly to them.</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-6">
            <form action="" method="post" role="form" class="submit-form">
              <div class="row">

                <div class="form-group">
                    <p>Name:</p>
                  <input  type="text" id="joinusname" name="joinusname" class="form-control" placeholder="ex: Makta" required>
                  
                </div>
                </div>
                <div class="row">
                <div class="form-group mt-3 mt-md-0">
                    <p>E-mail:</p>
                  <input type="email" class="form-control" name="joinusemail" id="joinusemail" placeholder="ex: youremail@makta.com" required>
                </div>
              </div>

              <div class="row">
              <div class="form-group">
                  <p>Phone:</p>
                <input type="text" class="form-control" name="joinusphon" id="joinusphone" placeholder="ex: 2261236789" required>
              </div>
              </div>

              <div class="row">
              <div class="col-md-6 form-group mt-3 mt-md-0">
                  <p>Country:</p>
                  <select name="country" id="country" class="flag-text"></select>
              </div>
              
                   
                   
                    <div class="col-md-6  form-group mt-3 mt-md-0">
                        <p>Role:</p>
                        <select name="joinusrole" id="joinusrole">
                            <option value="softwaredeveloper">Software Developer</option>
                            <option value="Designer">Designer</option>
                            <option value="UI/UX">UI/UX</option>
                            <option value="SoftwareQA&Tester">Software QA & Tester</option>
                            <option value="ProjectManager">Project Manager</option>
                            <option value="ScrumMaster">Scrum Master</option>
                            <option value="DigitalMarketing">Digital Marketing</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
              </div>

              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class=""><button type="submit">Submit</button></div>
            </form>
          </div><!-- End joinus Form -->

        </div>

      </div></div>
    </section>


</main>

@section Scripts
    {
    <script>
        function SubmitJoinUsForm() {
            var name = $('#joinusname').val();
            var email = $('#joinusemail').val();
            var phone = $('#joinusphone').val();
            var country = $('#joinuscountry').val();
            var role = $('#joinusrole').val();
            var terms = false;

            if (name === "") {
                $("#lbljoinusresult").html("please enter your name.");
                return;
            }

            if (email === "") {
                $("#lbljoinusresult").html("please enter your email.");
                return;
            }

            if (phone === "") {
                $("#lbljoinusresult").html("please enter your phone.");
                return;
            }

            if ($('#joinusterms').is(":checked")) {
                terms = true;
            }
            else {
                $("#lbljoinusresult").html("please accept community terms and conditions.");
                return;
            }

            var data = JSON.stringify({ name: name, email: email, phone: phone, terms: terms, country: country, role: role });

            $.ajax({
                type: "POST",
                url: "@Url.Action("submitjoinus","home")",
                data: { data: data },
                dataType: "text",
                success: function (msg) {
                    var res = JSON.parse(msg);
                    //var res = msg.replace(/"|'/g, '');
                    if (res.isSucceed) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Request sent!',
                            html: res.description,
                            confirmButtonText: res.buttonText,
                            showCloseButton: false
                        });
                        $('#joinusname').val('');
                        $('#joinusemail').val('');
                        $('#joinusphone').val('');
                        $('#joinuscountry').val('Canada');
                        $('#joinusrole').val('softwaredeveloper');
                        $("#joinusterms").prop("checked", false);
                    }
                    else
                        Swal.fire({
                            icon: 'error',
                            title: 'Oh wait...',
                            html: res.description,
                            confirmButtonText: res.buttonText,
                            showCloseButton: false
                        });
                },
                error: function (req, status, error) {
                    $('#lbljoinusresult').html(error);
                }
            });
        }
    </script>

    
    <script src="~/assets/js/Country.js"></script>
}