<main id="main">
    <section id="golden-joinus">
        <div>
            <div>

                <h2>Thank you for your interest in joining Makta community.</h2>
                <p style="color:white;">
                    Please fill the form below to gain your access by a community member.
                </p>

            </div>

        </div>

        <div>
            <form action="" method="post">
                <input type="text" id="name" name="name" />
                <input type="email" name="email" id="email">
                <input type="text" name="phone" id="phone">
                <select name="role" id="role">
                    <option value="softwaredeveloper">Software Developer</option>
                    <option value="Designer">Designer</option>
                    <option value="UI/UX">UI/UX</option>
                    <option value="SoftwareQA&Tester">Software QA & Tester</option>
                    <option value="ProjectManager">Project Manager</option>
                    <option value="ScrumMaster">Scrum Master</option>
                    <option value="DigitalMarketing">Digital Marketing</option>
                    <option value="Other">Other</option>
                </select>
                <input type="button" onclick="Subscribe();return false;" value="Subscribe">
                <label name="lblresult" id="lblresult" style="color:black"></label>

            </form>

        </div>
    </section>
</main>